#suggest-box {
	margin: 20px 0px;
	text-align: center;

	& #suggests {
		margin-top: 20px;
	}

	& #suggests-pagination {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
}