.page-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	margin: 10vh 0;

	& h2, p {
		text-align: center;
	}
	
	#floating-box {
		background-color: white;
		min-height: 50vh;
		min-width: 25vw;
		padding: 30px 60px;
		border-radius: 10px;
	}

	hr {
		opacity: 20%;
	}
}

@media (max-width: 540px) {
	.page-layout {
		padding: 10px;

		#floating-box {
			padding: 20px 30px;
		}
	}
}